@font-face {
  font-family: 'Monument';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../static/fonts/MonumentExtended-Black.woff2') format('woff2');
}

.Header {
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 20px 30px;

  display: flex;
  justify-content: flex-end;

  font-family: Inter;
  font-size: 16px;
  letter-spacing: 0.1rem;
  font-weight: 300;

  -webkit-font-smoothing: antialiased;
}

.HeaderGroup {
  width: 100%;
  padding: 20px;

  opacity: 0;
  animation: HeaderAnimation;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeaderGroup a {
  color: white;
}

.HeaderGroup ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.HeaderGroup ul li {
  padding: 0 10px;
}

.HeaderGroup button {
  flex-shrink: 0;
  min-width: 100px;
}

.Header {
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeaderScrolled {
  /* background: rgba(0, 0, 0, 0.8);
  padding: 15px 0;
  backdrop-filter: blur(20px); */
  transform: translateY(-100%);
  opacity: 0;
}

.leftnav {
  flex-grow: 0.2;

  overflow: hidden;

  background: linear-gradient(
    45deg,
    #09b0ea,
    #8acc98,
    #efde32,
    #f6ad39,
    #eb2e32
  );
  background-size: 300% 300%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 10s ease infinite;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rightnav {
  display: flex;
  align-items: center;

  padding: 0 20px;
}

.leftnav li {
  font-family: 'Monument';
  font-style: normal;
  font-display: swap;

  font-size: 36px;
}

.search {
  position: relative;
  border-radius: 07151986px;
  height: 35px;
  width: 250px;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;

  display: flex;
  align-items: center;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  justify-content: center;

  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

input[type='search'] {
  cursor: pointer;
  display: block;
  letter-spacing: 1px;
  outline: none;
  border: none;
  background: none;
  text-align: center;
  line-height: 40px;
  height: 40px;

  top: -1px;
  position: absolute;
  left: 41px;

  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

input::placeholder {
  font-family: 'Monument';
  font-weight: 400;
  color: #000000;
  opacity: 1;
  font-size: 16px;
  padding-top: 1px;

  overflow: hidden;

  background: linear-gradient(
    45deg,
    #09b0ea,
    #8acc98,
    #efde32,
    #f6ad39,
    #eb2e32
  );
  background-size: 300% 300%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 10s ease infinite;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.invite-btn button {
  padding: 8px 20px;
  font-size: 16px;
  color: white;
  background: #006dff;
  border: none;
  border-radius: 07151986px;
  outline: none;
  cursor: pointer;

  font-family: 'Inter';

  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.invite-btn button:hover {
  background: white;
  color: black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  transform: translateY(-3px);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes LogoAnimation {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes HeaderAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
